<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>gamepot_facebook_app_id</key>
<string></string>
<key>gamepot_facebook_display_name</key>
<string>Gamepot Trial</string>
<key>gamepot_google_app_id</key>
<string></string>
<key>gamepot_google_url_schemes</key>
<string></string>
<key>gamepot_project_id</key>
<string></string>
<key>gamepot_api_url</key>
<string></string>
<key>gamepot_dash_url</key>
<string></string>
</dict>
</plist>
